// From https://designmodo.com/bootstrap-react-sass/

/*********************************************/
/*          CUSTOMIZED DEFAULTS         */
/*********************************************/

$body-bg: #FFFFFF;

@import '~bootstrap/scss/bootstrap.scss';

/*********************************************/
/*              GENERAL CSS                 "/
/*********************************************/

body {
    width: 100%;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
 
h1 {
    transition: 0.9s;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p.main-form-text {
    font-size: 25px !important;
    font-weight: 500;
    color: #494949;
}
 
h3 {
    font-size: 40px;
    letter-spacing: 10px;
    font-weight: bold;
}
 
h4 {
    font-size: 16px;
}
 
img {
    width: 100%;
    height: 100%;
}
 
form {
    position: relative;
}

/*********************************************/
/*                HOME CSS                   "/
/*********************************************/

.name {
    padding:10%;
    text-align: center;
    h1 {
        font-size: 100px;
    }
}

.section {
    padding: 20px;
    transition: 1s;
    color:#E0E0E0;

    h2 {
        font-size: 50px;
    }

}

.section:hover{
    color:#4f5a64;
    transition: .8s;
}

#collapse-text{
    min-height: 150px;
    align-items: center;
    align-content: center;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    border: 0;
    padding: 20px;
}

.row {
    width: 100%;
    justify-content:center;
    padding:10px;
}

#chefup-image{
    max-width:20%;
    height:auto;
}
/*********************************************/
/*               CONTACT CSS                 "/
/*********************************************/

.contact {
    padding:10%;
    text-align: center;
    font-size: 20px;
}

.contact-icon{
    width: 10%;
    height: auto;
}

.contact-icon:hover{
    position:relative;
    width: 20%;
    height:auto;
}

/*********************************************/
/*               About CSS                   "/
/*********************************************/
 

.about {
    padding: 10%;
}

#involve{
    padding-left: 15%;
    padding-right: 15%;
    a:hover{
        color:#4F5A64;
    }
}

.carousel.caption {
    color:black
}

#professional-image{
    padding:10px;
    float:left;
    width:10%;
}

/*********************************************/
/*               FOOTER CSS                  "/
/*********************************************/
 
footer p {
    margin: 55px 0px 60px 0px;
    font-size: 17px;
    font-weight: 600;
    background-color: #565656;
    color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    bottom: 10px;
}

@import '../node_modules/bootstrap/scss/bootstrap.scss';
